@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Course System</h1>
    <p class="lead">
        Welcome to your online learning platform. Browse courses, enroll, take exams and track your progress.
    </p>

    <p>
        @Html.ActionLink("Browse Courses", "Index", "Courses", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Courses</h2>
        <p>Browse available courses and start learning today.</p>
        <p>@Html.ActionLink("View Courses", "Index", "Courses", null, new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-md-4">
        <h2>Enrollments</h2>
        <p>Track your enrolled courses and progress.</p>
        <p>@Html.ActionLink("My Enrollments", "Index", "Enrollments", null, new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-md-4">
        <h2>Results</h2>
        <p>Check your exam results and performance.</p>
        <p>@Html.ActionLink("View Results", "Index", "Results", null, new { @class = "btn btn-default" })</p>
    </div>

</div>